body{
  background-color: black;
}
h2{
  border-bottom:  solid 0.25vh red;
  animation-name:left-text;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes left-text {
  0%{padding-left: 500vh;}
  100%{padding-left: 0vh;}
}

@keyframes right-text{
  0%{padding-right: 500vh;}
  100%{padding-right: 0vh;}
}

@keyframes opacity {
  0%{opacity:0;}
  50%{opacity:0.5;}
  100%{opacity:1;}
}
.page{
  color:white;
  padding-top: 6vh;
  background-color: black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.page a{
  text-decoration: none;
  color: white;
}
.page a:hover{
  color: black;
}
.page ul{
  list-style: none;
  margin-left: -2vw;
}
.page li{
  display: inline;
  margin-right: 2vw;
  font-size: 150%;
}
.infophoto{
  animation-name:opacity;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  padding-top: 1vw;
  padding-left: 2vw;
  background-color: #800000;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 1fr;
  grid-template-areas:
  "infos photo";
}
.section{
  padding-left: 2vw;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 1fr;
  grid-template-areas:
  "left right";
}
.right{
  animation-name:right-text;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.right p{
  line-height: 1.5;
}
.left{
  animation-name:left-text;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.left p{
  line-height:1.5;
}
.section .p1{
  padding-top: 3.5vh;
}
.section .p2{
  padding-top: 2.5vh;
}
.section .p3{
  padding-top: 4.5vh;
}
.section .p4{
  padding-top: 3.5vh;
}
.section .xx-lower{
  padding-top: 4vh;
}
.section .x-lower{
  padding-top:6.5vh;
}
.section .lower {
  padding-top: 7vh;
}
.section .more-lower{
  padding-top: 6.6vh;
}
.section .to-low{
  padding-top: 6.5vh;
}
.section .l2-low{
  padding-top: 3.5vh;
}
footer{
  height: 0.5vh;
  background-color: #800000;
}


@media screen and (max-width: 500px) {
  .infos{
    width: 100%;
  }
  .photo{
    display: none;}
  .page{
    width: 100%;
  }
  .page ul{
    margin-left:-10vw;
  }
  .page li{
    margin-right: 5vw;
  }
  .page a{
    text-decoration: none;
    color: white;
  }
  .page a:hover{
    color: black;
  }
  .section .p1{
    padding-top: 22vh;
  }
  .section .p2{
    padding-top: 16vh;
  }
  .section .p3{
    padding-top: 13vh;
  }
  .section .p4{
    padding-top: 13vh;
  }
  .section .xx-lower {
    margin-top: 10.2vh;
  }
  .section .x-lower{
    padding-top: 33vh;
  }
  .section .lower{
    padding-top: 25vh;
  }
  .section .dutch{
    padding-top:4.3vh;
  }
  .section .italian{
    padding-top: 4.7vh;
  }
  .section .coding{
    padding-top:4vh;
  }
  .section .to-low{
    padding-top: 16.8vh;
  }
  .section .l2-low{
    padding-top: 12.8vh;
  }
}
